In [1]:
import pandas as pd
import csv

In [2]:
data=pd.read_csv('diabetes.csv')

In [3]:
data.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [5]:
data.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [6]:
data_cols=['Glucose','BloodPressure','SkinThickness','Insulin','BMI']

In [7]:
(data[data_cols]==0).sum()

Glucose            5
BloodPressure     35
SkinThickness    227
Insulin          374
BMI               11
dtype: int64

In [8]:
data.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [9]:
from numpy import nan

In [10]:
data[data_cols]=data[data_cols].replace(0,nan)

In [11]:
data.isnull().sum()

Pregnancies                   0
Glucose                       5
BloodPressure                35
SkinThickness               227
Insulin                     374
BMI                          11
DiabetesPedigreeFunction      0
Age                           0
Outcome                       0
dtype: int64

In [12]:
data.head(20)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148.0,72.0,35.0,NaN,33.6,0.627,50,1
1,1,85.0,66.0,29.0,NaN,26.6,0.351,31,0
2,8,183.0,64.0,NaN,NaN,23.3,0.672,32,1
3,1,89.0,66.0,23.0,94.0,28.1,0.167,21,0
4,0,137.0,40.0,35.0,168.0,43.1,2.288,33,1
5,5,116.0,74.0,NaN,NaN,25.6,0.201,30,0
6,3,78.0,50.0,32.0,88.0,31.0,0.248,26,1
7,10,115.0,NaN,NaN,NaN,35.3,0.134,29,0
8,2,197.0,70.0,45.0,543.0,30.5,0.158,53,1
9,8,125.0,96.0,NaN,NaN,NaN,0.232,54,1
10,4,110.0,92.0,NaN,NaN,37.6,0.191,30,0
11,10,168.0,74.0,NaN,NaN,38.0,0.537,34,1
12,10,139.0,80.0,NaN,NaN,27.1,1.441,57,0
13,1,189.0,60.0,23.0,846.0,30.1,0.398,59,1
14,5,166.0,72.0,19.0,175.0,25.8,0.587,51,1
15,7,100.0,NaN,NaN,NaN,30.0,0.484,32,1
16,0,118.0,84.0,47.0,230.0,45.8,0.551,31,1
17,7,107.0,74.0,NaN,NaN,29.6,0.254,31,1
18,1,103.0,30.0,38.0,83.0,43.3,0.183,33,0
19,1,115.0,70.0,30.0,96.0,34.6,0.529,32,1

In [13]:
#deleting nan values in glucose,bloodpressure,bmi because there are very less number of null values

In [14]:
data=data.dropna(subset=['Glucose','BloodPressure','BMI'])
data.isnull().sum()

Pregnancies                   0
Glucose                       0
BloodPressure                 0
SkinThickness               192
Insulin                     332
BMI                           0
DiabetesPedigreeFunction      0
Age                           0
Outcome                       0
dtype: int64

In [15]:
#replacing missing values in skinthickness,insulin because these columns are having hhuge number of missing values.so its better to replace rather than deleting

In [16]:
mean_val=data['Insulin'].mean()
print(mean_val)

156.05612244897958

In [17]:
#let,replace this missing vlues in insulin column with mean value by using fillna() function

In [18]:
data['Insulin'].fillna(mean_val,inplace=True)

In [19]:
#now we have to check any missing values in dataset.you will see insulin column has no null values

In [20]:
data.isnull().sum()

Pregnancies                   0
Glucose                       0
BloodPressure                 0
SkinThickness               192
Insulin                       0
BMI                           0
DiabetesPedigreeFunction      0
Age                           0
Outcome                       0
dtype: int64

In [21]:
#now,to replace skin thickness columns missing value we will use interpolate function

In [22]:
data['SkinThickness'].interpolate(inplace=True)

In [23]:
#let us check any missing values are there in skinthickness column

In [24]:
data.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [25]:
data.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [26]:
print(data)

     Pregnancies  Glucose  BloodPressure  SkinThickness     Insulin   BMI  \
0              6    148.0           72.0           35.0  156.056122  33.6
1              1     85.0           66.0           29.0  156.056122  26.6
2              8    183.0           64.0           26.0  156.056122  23.3
3              1     89.0           66.0           23.0   94.000000  28.1
4              0    137.0           40.0           35.0  168.000000  43.1
..           ...      ...            ...            ...         ...   ...
763           10    101.0           76.0           48.0  180.000000  32.9
764            2    122.0           70.0           27.0  156.056122  36.8
765            5    121.0           72.0           23.0  112.000000  26.2
766            1    126.0           60.0           27.0  156.056122  30.1
767            1     93.0           70.0           31.0  156.056122  30.4

     DiabetesPedigreeFunction  Age  Outcome
0                       0.627   50        1
1                       0.351   31        0
2                       0.672   32        1
3                       0.167   21        0
4                       2.288   33        1
..                        ...  ...      ...
763                     0.171   63        0
764                     0.340   27        0
765                     0.245   30        0
766                     0.349   47        1
767                     0.315   23        0

[724 rows x 9 columns]

In [27]:
data['Age Group'] = pd.cut(data['Age'], bins=[0, 20, 30, 40, 50, float('inf')], labels=['0-20', '20-30', '30-40', '40-50', '50+'])

In [28]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 724 entries, 0 to 767
Data columns (total 10 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               724 non-null    int64
 1   Glucose                   724 non-null    float64
 2   BloodPressure             724 non-null    float64
 3   SkinThickness             724 non-null    float64
 4   Insulin                   724 non-null    float64
 5   BMI                       724 non-null    float64
 6   DiabetesPedigreeFunction  724 non-null    float64
 7   Age                       724 non-null    int64
 8   Outcome                   724 non-null    int64
 9   Age Group                 724 non-null    category
dtypes: category(1), float64(6), int64(3)
memory usage: 57.5 KB

In [29]:
data.head(10)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,Age Group
0,6,148.0,72.0,35.0,156.056122,33.6,0.627,50,1,40-50
1,1,85.0,66.0,29.0,156.056122,26.6,0.351,31,0,30-40
2,8,183.0,64.0,26.0,156.056122,23.3,0.672,32,1,30-40
3,1,89.0,66.0,23.0,94.000000,28.1,0.167,21,0,20-30
4,0,137.0,40.0,35.0,168.000000,43.1,2.288,33,1,30-40
5,5,116.0,74.0,33.5,156.056122,25.6,0.201,30,0,20-30
6,3,78.0,50.0,32.0,88.000000,31.0,0.248,26,1,20-30
8,2,197.0,70.0,45.0,543.000000,30.5,0.158,53,1,50+
10,4,110.0,92.0,39.5,156.056122,37.6,0.191,30,0,20-30
11,10,168.0,74.0,34.0,156.056122,38.0,0.537,34,1,30-40

In [30]:
data['Age Group'] = pd.cut(data['Age'], bins=[0, 20, 30, 40, 50,60, float('inf')], labels=['0-20', '20-30', '30-40', '40-50', '50-60','60+'])

In [31]:
data.head(10)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,Age Group
0,6,148.0,72.0,35.0,156.056122,33.6,0.627,50,1,40-50
1,1,85.0,66.0,29.0,156.056122,26.6,0.351,31,0,30-40
2,8,183.0,64.0,26.0,156.056122,23.3,0.672,32,1,30-40
3,1,89.0,66.0,23.0,94.000000,28.1,0.167,21,0,20-30
4,0,137.0,40.0,35.0,168.000000,43.1,2.288,33,1,30-40
5,5,116.0,74.0,33.5,156.056122,25.6,0.201,30,0,20-30
6,3,78.0,50.0,32.0,88.000000,31.0,0.248,26,1,20-30
8,2,197.0,70.0,45.0,543.000000,30.5,0.158,53,1,50-60
10,4,110.0,92.0,39.5,156.056122,37.6,0.191,30,0,20-30
11,10,168.0,74.0,34.0,156.056122,38.0,0.537,34,1,30-40

In [32]:
age_group_mean_glucose = data.groupby('Age Group')['Glucose'].mean()
print(age_group_mean_glucose)

Age Group
0-20            NaN
20-30    115.192308
30-40    127.209459
40-50    125.527778
50-60    141.452830
60+      137.480000
Name: Glucose, dtype: float64

In [33]:
filtered_data = data[data['Glucose'] > 120]
print(filtered_data)

     Pregnancies  Glucose  BloodPressure  SkinThickness     Insulin   BMI  \
0              6    148.0           72.0          35.00  156.056122  33.6
2              8    183.0           64.0          26.00  156.056122  23.3
4              0    137.0           40.0          35.00  168.000000  43.1
8              2    197.0           70.0          45.00  543.000000  30.5
11            10    168.0           74.0          34.00  156.056122  38.0
..           ...      ...            ...            ...         ...   ...
759            6    190.0           92.0          29.75  156.056122  35.5
761            9    170.0           74.0          31.00  156.056122  44.0
764            2    122.0           70.0          27.00  156.056122  36.8
765            5    121.0           72.0          23.00  112.000000  26.2
766            1    126.0           60.0          27.00  156.056122  30.1

     DiabetesPedigreeFunction  Age  Outcome Age Group
0                       0.627   50        1     40-50
2                       0.672   32        1     30-40
4                       2.288   33        1     30-40
8                       0.158   53        1     50-60
11                      0.537   34        1     30-40
..                        ...  ...      ...       ...
759                     0.278   66        1       60+
761                     0.403   43        1     40-50
764                     0.340   27        0     20-30
765                     0.245   30        0     20-30
766                     0.349   47        1     40-50

[334 rows x 10 columns]

In [ ]:
data.info()

In [ ]:
data.csv to_csv('diabetesfinaldata.csv')

In [39]:
data['BMI category'] = pd.cut(data['BMI'], bins=[0, 18, 25, 30 ,float('inf')], labels=['Underweight', 'Normal', 'Over Weight', 'Obese',])

In [44]:
data.head(20)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,Age Group,BMI category
0,6,148.0,72.0,35.0,156.056122,33.6,0.627,50,1,40-50,Obese
1,1,85.0,66.0,29.0,156.056122,26.6,0.351,31,0,30-40,Over Weight
2,8,183.0,64.0,26.0,156.056122,23.3,0.672,32,1,30-40,Normal
3,1,89.0,66.0,23.0,94.000000,28.1,0.167,21,0,20-30,Over Weight
4,0,137.0,40.0,35.0,168.000000,43.1,2.288,33,1,30-40,Obese
5,5,116.0,74.0,33.5,156.056122,25.6,0.201,30,0,20-30,Over Weight
6,3,78.0,50.0,32.0,88.000000,31.0,0.248,26,1,20-30,Obese
8,2,197.0,70.0,45.0,543.000000,30.5,0.158,53,1,50-60,Obese
10,4,110.0,92.0,39.5,156.056122,37.6,0.191,30,0,20-30,Obese
11,10,168.0,74.0,34.0,156.056122,38.0,0.537,34,1,30-40,Obese
12,10,139.0,80.0,28.5,156.056122,27.1,1.441,57,0,50-60,Over Weight
13,1,189.0,60.0,23.0,846.000000,30.1,0.398,59,1,50-60,Obese
14,5,166.0,72.0,19.0,175.000000,25.8,0.587,51,1,50-60,Over Weight
16,0,118.0,84.0,47.0,230.000000,45.8,0.551,31,1,30-40,Obese
17,7,107.0,74.0,42.5,156.056122,29.6,0.254,31,1,30-40,Over Weight
18,1,103.0,30.0,38.0,83.000000,43.3,0.183,33,0,30-40,Obese
19,1,115.0,70.0,30.0,96.000000,34.6,0.529,32,1,30-40,Obese
20,3,126.0,88.0,41.0,235.000000,39.3,0.704,27,0,20-30,Obese
21,8,99.0,84.0,39.0,156.056122,35.4,0.388,50,0,40-50,Obese
22,7,196.0,90.0,37.0,156.056122,39.8,0.451,41,1,40-50,Obese